<ion-header>
  <ion-toolbar>
    <ion-title>{{ settLang }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">{{ selectLang }}</ion-label><hr />
    <ion-select [(ngModel)]="language" [value]="language" (ionChange)="changeLanguage()">
      <ion-select-option value="en">English</ion-select-option>
      <ion-select-option value="es">Castellano</ion-select-option>
      <ion-select-option value="ca">Català</ion-select-option>
      <ion-select-option value="gl">Galego</ion-select-option>
      <ion-select-option value="eu">Euskera</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-button expand="block" (click)="saveLanguage()">{{ saveLang }}</ion-button>
  
      
</ion-content>
