<ion-header>
  <ion-toolbar>
    <ion-title>Configuració</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Tria l'idioma de l'aplicació</p>

  <form>
    <ion-item>
      <ion-label>Català</ion-label>
      <ion-radio slot="start"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Castellano</ion-label>
      <ion-radio slot="start"></ion-radio>
      <div id="es-flag"></div>
    </ion-item>

    <ion-item>
      <ion-label>Galego</ion-label>
      <ion-radio slot="start"></ion-radio>
      <div id="gl-flag"></div>
    </ion-item>

    <ion-item>
      <ion-label>Euskera</ion-label>
      <ion-radio slot="start"></ion-radio>
      <div id="eu-flag"></div>
    </ion-item>

    <ion-item>
      <ion-label>English</ion-label>
      <ion-radio slot="start"></ion-radio>
      <div id="en-flag"></div>
    </ion-item>
  </form>
</ion-content>
